
<div class="dashboard_container user-container">
  <% if current_user  %>
  <div id='new-skill-form'>

    <fieldset>
      <%= simple_form_for @skill_request do |f| %>
      <%= f.input :title, as: :string, placeholder:"ie: Make a doggy door" %>
      <%= f.label "Categories" %>
      <%= f.input_field :category_ids, style:"width:100%", class: 'select2 categories ajax', placeholder:"Select up to 3 Categories", data: { source: categories_path,initSelection: @skill_request.categories.map{|category|{id: category.id, text: category.name}}},value:' ' %>
      <%= f.simple_fields_for :location do |c| %>
        <%= c.input :city, label: "City", placeholder:"Select City"%>
        <%= c.input :state, label: "State", placeholder:"Select State"%>
        <%= c.input :zip, label: "Zip", placeholder:"Select Zip"%>
      <% end %>
      <%= f.input :subtitle, placeholder:"ie: Making an exterior doggy door from start to finish." %>
      <%= f.input :full_description, placeholder:"\n500 Characters Max. You can discuss further later. \n\nie: I will show you what type of door you need, the tools needed, and how to install it.This includes going to your residence and measuring the door, helping at the store and picking out the correct size doggy door and door and finally installing it. I will help you purchase the correct tools or you can use mine. The only thing I ask for you to purchase for the tools is the saw blade if needed." ,maxlength:500%>
      <%= f.submit %>
      <%end%>
      <%= link_to skill_request_path(@skill_request), method: :delete do  %>
        Delete Skill
      <% end %>
    </fieldset>
  </div>

  <div class='form-description raised-box-content'>
    <div class='content'>
    <h4 class='subject'>Almost there!</h4>

    <p class='description'>Fill out the form and we'll post it to the request skills page as well as notify anyone who has similar skills in your surrounding area to see if they can help.</p>
  </div>
  </div>
  <% else %>
  <%= render 'refills/sign_up_in_post_request' %>
  <% end %>
</div>
