<div id="paths">
  <h6 class="title">
    <i class="toggle-info fa fa-chevron-circle-up"></i> Earning Paths
  </h6>
  <ul class='toggle-content'>
    <% @paths.each do |path| %>
      <li>
        <h6>
          <span class='level paths status-<%=path.try(:accepted_status)%> tooltip-item'>
            <div class="tooltip pending">Status: <%= path.try(:accepted_status)%></div>
          </span>
          <span class='tooltip-item'>
            <%=link_to truncate(path.name, length: 20,seperator:"."), path_path(path)%>
            <div class='tooltip'><%=path.name%></div>
          </span>
          <%= link_to path_path(path) do %>
            <i class="fa fa-gear"></i>
          <% end %>
        </h6>
        <h6 class="category">
          <%=path.skills.count%> skills in this path.
        </h6>
      </li>
    <%end%>
  </ul>
</div>