<div class='skill-container-transparent'>
  <div class='skill-intro'>
    <h6 class='categories'><%= @skill.categories.map{|cat| cat.name }.join(", ") %></h6>
    <div class='info'>
      <h4 id='skill-title'><%= @skill.title %>:<h6><%= @skill.subtitle %></h6>
      </h4>
      <p class='small-info'><%= "#{@skill.location_city}, #{@skill.location_state}, #{@skill.location_zip}" %></p>
      <h6>Recommended skill level: <%= @skill.skill_level.title %></h6>
      <% if @skill.respond_to?(:price) %><h6>Price: $<%= @skill.price %></h6> <% end %>
      <% if current_user && current_user.is_teacher?(@skill) %>
        <%= button_to "Edit", edit_skill_path(@skill), method: :get %>
        <%#= button_to "Manage Students", skill_users_path(skill), method:"get"%>
      <% end %>
      <% if @skill.path %>
      This skill is connected to a path. <%= link_to "Check it out", path_path(@skill.path) %>
      <% end %>
      <p>
    </div>
    <div class='profile-image'>
      <div class='skill-creator'>
        <h4>Creator: <%= @skill.creator.username %></h4>
      </div>
    </div>
  </div>
</div>
