<div class="dashboard_container user-container">
  <%= render "refills/skill_form" %>
   <div class='form-description raised-box-content'>
   <div class='content'>
     <% if @skill.apprenticeships.empty? %>
     <h4 class='subject'>Deleting this skill will remove it permanently.</h4>
       <%= button_to skill_path(@skill), method: :delete, class: "danger" do  %>
         Delete Skill
       <% end %>
     <%else%>
       <h4 class='subject'>You cannot delete this skill as it has apprentices. You can archive it so it doesn't display in your dashboard.</h4>
       <%= simple_form_for @skill do |f| %>
         <%= f.hidden_field :archived, value: true %>
         <%= f.submit class: "warning", value:"Archive Skill" %>
       <% end %>
     <%end%>
   </div>
  <!-- <%= render 'refills/categories' %> -->
</div>