<%= render 'skills/skill_intro' %>
<div class='skill-container'>
  <%= render 'skills/skill_bio' %>
  <div class='comments-and-recent'>
  <div class='recent-apprentices'>
    <h6 class='title'>Recent Student Projects</h6>
    <% unless @skill.apprenticeships.empty?  %>
    <ul>
      <% @skill.apprenticeships.limit(3).each do |apprenticeship| %>
      <li>
        <h6>Requested Project</h6>
        <p><%= apprenticeship.request_description %></p>
        <h6>Completion Status</h6>
        <p><%= apprenticeship.completion_status %></p>
        <h6>Apprentice Level</h6>
        <p><%= apprenticeship.skill_level.title %></p>
      </li>
      <% end %>
  </ul>
    <% else %>
    <p> No one has enrolled in this course yet.</p>
    <% end %>
  </div>
</div>
  <div class='skill-comments'>
    <h5 class='title'>Student Reviews and Comments</h5>
    <%= render 'refills/comment' %>
  </div>
</div>
