
<div class="sidebar">
  <div id="learning">
    <h6 class="title">
      <i class="toggle-info fa fa-chevron-circle-up"></i> Learning Skills
      <span class="title-action"> <%= link_to skills_path, id:'dash-learning-search' do %>
        <%= fa_icon "search-plus"%>
        <% end %></span>
    </h6>
    <ul class='toggle-content'>
      <% @apprenticeships.each do |apprenticeship| %>
      <li>
        <h6>
          <span class='level learning status-<%=apprenticeship.try(:accepted_status)%> tooltip-item'><div class="tooltip pending">Status: <%= apprenticeship.try(:accepted_status)%></div></span>
          <span class='tooltip-item'><%=link_to truncate(apprenticeship.skill.title, length: 20,seperator:"."), skill_path(apprenticeship.skill)%><div class='tooltip'><%=apprenticeship.skill.title%></div></span>
           <%= link_to apprenticeship_path(apprenticeship) do %>
            <i class="fa fa-gear"></i>
          <% end %>
        </h6>
        <h6 class="category">
          <%=apprenticeship.skill.categories.map{|category| category.name}.join(",").to_s%>
        </h6>
      </li>
      <%end%>
    </ul>
  </div>
  <div id="earning">

    <h6 class="title">
      <i class="toggle-info fa fa-chevron-circle-up"></i>
     Earning Skills<span class="title-action"><%= link_to new_skill_path, id:'dash-new-skill-btn' do %>
     <%= fa_icon "plus"%>
     <% end %></span></h6>
    <ul class="toggle-content">
      <% @earning_skills.each do |skill| %>
      <li>
        <h6>
          <% active_text = skill.is_active ? '' : '(inactive)' %>
          <%= active_text %>
          <span class='level earning'><%=skill.apprenticeships.count %></span><span class='tooltip-item'> <%=link_to truncate(skill.title, length:20, seperator: "."), skill_path(skill)%><div class='tooltip'><%= skill.title%><%= active_text %></div></span>
          <%= link_to edit_skill_path(skill) do %>
            <i class="fa fa-gear"></i>
          <% end %>
        </h6>
        <h6 class="category">
          <%=skill.categories.limit(3).map{|category| category.name}.join(",").to_s%>
        </h6>
      </li>
      <%end%>
    </ul>
  </div>
  <div id="paths">
    <h6 class="title">
      <i class="toggle-info fa fa-chevron-circle-up"></i> Earning Paths
    </h6>
    <ul class='toggle-content'>
      <% @paths.each do |path| %>
      <li>
        <h6>
          <span class='level paths status-<%=path.try(:accepted_status)%> tooltip-item'><div class="tooltip pending">Status: <%= path.try(:accepted_status)%></div></span>
          <span class='tooltip-item'><%=link_to truncate(path.name, length: 20,seperator:"."), path_path(path)%><div class='tooltip'><%=path.name%></div></span>
           <%= link_to path_path(path) do %>
            <i class="fa fa-gear"></i>
          <% end %>
        </h6>
        <h6 class="category">
          <%=path.skills.count%> skills in this path.
        </h6>
      </li>
      <%end%>
    </ul>
  </div>
  <div id="requests">
    <h6 class="title">
      <i class="toggle-info fa fa-chevron-circle-up"></i> Wanted Skills<span class="title-action"></h6>
    <ul class="toggle-content">
      <% @skill_requests.each do |request| %>
      <li>
        <h6>
          <span class='status-<%=request.try(:accepted_status) %> tooltip-item'><div class="tooltip pending">Status: <%= request.try(:accepted_status)%></div></span>
          <%    path = skill_request_path(request)
                edit_path = edit_skill_request_path(request) %>
          <%=link_to request.try(:title) || request.try(:skill).try(:title), path %>
          <%= link_to edit_path do %>
            <i class="fa fa-gear"></i>
          <% end %>
        </h6>
        <h6 class="category">
          <% categories = request.try(:categories) || request.try(:skill).try(:categories) || [] %>
          <%= categories.limit(3).map{|category| category.name}.join(",").to_s%>
        </h6>
      </li>
      <%end%>
    </ul>
  </div>
</div>
