<div class="sidebar">
  <%= render "dashboards/sidebar_items/learning" %>
  <%= render "dashboards/sidebar_items/earning" %>
  <%= render "dashboards/sidebar_items/paths" %>
  <%= render "dashboards/sidebar_items/requests" %>
  <%= render "dashboards/sidebar_items/archived" %>
</div>
