
<div class="main-dash">
  <div id="selected_content">
    <% unless current_user.notifications.empty? %>
    <div class="row" id='new-apprentice-requests'>
      <!-- <div class='tooltip-item'> -->

      <h5 class="title"><i class='fa fa-question-circle tooltip-item'><div class="tooltip">Recent Notifications - Some may require action.</div></i><%= current_user.notifications.count %> Unseen notifications</h5><i class='fa fa-chevron-circle-up toggle-info'></i>
      <%= render partial: 'refills/notification_table' %>
    </div>
    <% end %>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Teaching</a>
        <div class="tab-content">

          <div class="row" id='new-apprentice-requests'>
            <h5 class="title"><i class='fa fa-question-circle tooltip-item'><div class="tooltip">New requests that a user has sent you that need action.</div></i>New student requests</h5>
            <%= render partial: 'refills/tables_minimal', locals: {table_headers: ['User','Skill', 'Location', 'Meeting Date Scheduled','Meeting Date Requested', 'Please Respond'], table_data: @apprentice_requests.pending, extra_fields: ['accepted_status'] }%>
          </div>

          <div class="row" id='open-requests'>
            <h5 class="title"><i class='fa fa-question-circle tooltip-item'><div class="tooltip">Recently posted requests that are similar to the skills you have.</div></i>Posted skill requests</h5><p class='small-info'>(last 3 days)</p>
            <%= render partial: 'refills/tables_minimal', locals: {table_headers: ['User', 'Skill', 'Location','Date Posted','Meeting Date Requested','Accept/Reject?'], table_data: @open_requests, extra_fields: ['accept?'] }%>
          </div>

          <div class="row" id='your-apprentices'>
            <h5 class="title"><i class='fa fa-question-circle tooltip-item'><div class="tooltip">People that you are currently scheduled to teach a skill.</div></i>Current students</h5>
            <%= render partial: 'refills/tables_minimal', locals: {table_headers: ['Student', 'Skill', 'Location','Meeting Date Scheduled','Meeting Date Requested', 'Status'], table_data: @apprentice_requests.confirmed, extra_fields: ['accepted_status'] }%>
          </div>
        </div>
      </li>

      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Learning</a>
        <div class="tab-content">
          <div class="row" id='your-apprenticeships'>
            <h5 class="title"><i class='fa fa-question-circle tooltip-item'><div class="tooltip">Skills that you have signed up to learn.</div></i>Learning</h5>
            <%= render partial: 'refills/tables_minimal', locals: {table_headers: ['Teacher', 'Skill', 'Location', 'Meeting Date Scheduled','Meeting Date Requested', 'Status'], table_data: @apprenticeships, extra_fields: ['accepted_status'] }%>
          </div>

        </div>
      </li>
    </ul>
    <div class="row" id='dash-upcoming-calendar'>
        <h5 class="title"><i class='fa fa-question-circle tooltip-item'><div class="tooltip">Upcoming apprenticeships. Green Icon: You'll be learning. Blue Icon: You'll be teaching.</div></i>Upcoming Events</h5>
      <%= render 'dashboards/calendar_grid' %>
      <%= render partial: 'refills/tables_minimal', locals: {table_headers: ['Role','Location','Time','Meeting Date Scheduled','Status'], table_data: @upcoming_events, extra_fields: ['accepted_status'] }%>
    </div>
  </div>
</div>
