<!--TODO:Move to partial -->
<div class='sidebar'>
  <h6 class="title">Dates Accepted? </h6>
  <p><%= @apprenticeship.meeting_date_scheduled ? @apprenticeship.meeting_date_scheduled : "No date agreed upon yet" %></p>
  <h6 class='title'>Apprentice acceptance? </h6>
  <p><%= @apprenticeship.apprentice_accept_date ? 'Accepted': 'Not Accepted Yet' %></p>
  <h6 class='title'>Skill creator acceptance? </h6>
  <p><%= @apprenticeship.creator_accept_date ? 'Accepted': 'Not Accepted Yet' %></p>
</div>
<div class='apprenticeship-form'>

<!-- TODO::Move to Partial -->
<% if @apprenticeship.has_accepted_dates? %>
<fieldset>
 <h6 class="title">Apprenticesip takes place on </h6>
  <p><%= @apprenticeship.meeting_date_scheduled %></p>
  <h6>@</h6>
  <h6><%= @apprenticeship.location.address %>,<%= @apprenticeship.location.city %>, <%= @apprenticeship.location.state %></h6>
</fieldset>
<% else %>
<fieldset>
  <%= simple_form_for @apprenticeship do |f| %>
      <%= f.simple_fields_for :location do |c| %>
      <h6>Current Location: <%= @apprenticeship.location.address %>,<%= @apprenticeship.location.city %>, <%= @apprenticeship.location.state %></h6>
      <h6>Date Requested: <%= @apprenticeship.meeting_date_requested %> </h6>
       <input id="autocomplete" placeholder="Enter new address if you would like to change where to meet."
             onFocus="geolocate()" type="text" data-geoType="address"></input>
        <%= c.hidden_field :address, label: "City", placeholder:"Select Address", class: 'street_number route',:readonly => true %>
        <%= c.hidden_field :city, label: "City", placeholder:"Select City", class: 'locality',:readonly => true %>
        <%= c.hidden_field :state, label: "State", placeholder:"Select State", class: 'administrative_area_level_1', :readonly => true %>
        <%= c.hidden_field :zip, placeholder:"Select Zip", class: 'postal_code', :readonly => true%>
      <% end %>
      <%= link_to accept_date_apprenticeship_path(@apprenticeship), method: :post do %>
        <i class="fa fa-thumbs-o-up">Accept Date</i>
      <% end %>
      <%= f.input :meeting_date_requested, :as => :datetime_picker, required: false, label:"Request to change the date" %>
      <%= f.submit %>
<%end%>
</fieldset>
<% end %>
</div>
