<%= render 'skills/skill_intro' %>
<div class='skill-container'>
  <div class='apprenticeship-show-header'>
    <h1><%= @apprenticeship.user.username %> & <%= @apprenticeship.skill.creator.username %></h1>
    <p class='small-info'>Communicate with each other here</p>
    <p class='small-info'>You can leave comments or change the scheduled time and place you'd like to meet.</p>
  </div>
<%= render 'skills/skill_bio' %>
<%= render 'apprenticeships/edit_date_or_location' %>
  <div class='skill-comments'>
    <h5 class='title'>Communication</h5>
    <%= render 'apprenticeships/comments' %>
  </div>
</div>

