
<div class="cards">
  <% @skills.each do |skill| %>
  <%= link_to skill.base_uri do %>
  <div class="hover-tile-outer">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <div class='hover-tile-categories'>
          <% skill.categories.each do |cat| %>
            <p class='small-info'><%= cat.name %></p>
            <% end %>
            <!-- {|category| category.name}.join(",").to_s %> -->
        </div>
        <p class='title'><%= skill.title %></p>
        <p class='subtitle'><%= skill.subtitle %></p>
      </div>
      <div class="hover-tile hover-tile-hidden">
        <p><%= truncate(skill.full_description, length: 250, separator: '.') %></p>
        <p class="text-link">Read More</p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

