<div class="cards">
  <% @skills.each do |skill| %>
  <div class="card">
    <div class="card-image">
      <img src="https://raw.github.com/Magnus-G/Random/master/mountains.png" alt="">
    </div>
    <div class="card-header">
      <p class='title'><%= skill.title %></p>
      <p class='subtitle'><%= skill.subtitle %></p>
    </div>
    <div class="card-copy">
      <p><%= skill.full_description %></p>
    </div>
    <div class="card-stats">
      <%= link_to 'Read More', skill_path(skill) %>
      <ul>
        <li><%= skill.apprentices.count %><span># of Apprentices</span></li>
        <li>***<span>Avg. Rating</span></li>
      </ul>
    </div>
  </div>
  <% end %>

</div>
