<div class="hero">
	<div class="hero-inner">

		<div class="hero-copy">
			<h1>Learn By Doing $ Earn by Sharing</h1>
      <h6>Connect, Learn, and Make Some Cash.</h6>
      <%= button_to "How it Works", what_is_path, method:"get" %>
      <%= image_tag("skillclimb-logo.png", height: 100,width:130)%>
      <h4>Welcome to Skill Climb</h4>
		</div>
    <% if current_user %>
      <%= button_to "Go to dashboard", dashboard_path, method:"get" %>
      <br>
      <%= button_to "Browse all skills", skills_path, method:"get" %>
    <% else %>
      <fieldset id='skill-search-box'>
        <%= render partial: "refills/search_bar", locals: {button_text: 'Search for a skill to learn today.', action: '/skills', is_remote:false } %>
        <br />
        <%= button_to "Browse Skills", skills_path, method:"get" %>
      </fieldset>
    <% end %>
	</div>
  <!--<div class="beta" style="text-align: center;">-->
  <!--<p>Thanks for checking us out. Go ahead and have a look around.</p>-->
  <!--<p> Some features may not be accessible as we are still in beta stages.</p>-->
  <!--<p>We should be up and running soon. Please keep checking back.</p>-->
  <!--</div>-->
</div>
