<div class="search-tools">
  <%= simple_form_for :search, :html => {:"data-update-target" => 'cards-container'}, remote: is_remote, method: "get" ,:url => action do |f| %>
  <%= f.simple_fields_for :location do |c| %>
  <div class='filter'>
    <div class="input string optional search_keywords hide-options">
      <input id="autocomplete" placeholder="Enter a City" class=''
  onFocus="geolocate()" type="text"></input>
    </div>
  </div>
    <%= c.hidden_field :city, label: "City", placeholder:"Select City", class: 'locality location',:readonly => true %>
    <%= c.hidden_field :state, label: "State", placeholder:"Select State", class: 'administrative_area_level_1 location', :readonly => true %>
    <%= c.hidden_field :zip, placeholder:"Select Zip", class: 'postal_code location', :readonly => true%>
  <% end %>
<div class='filter'>
  <%= f.input_field :categories, required: false, class: 'select2 categories ajax', label:false ,placeholder:"Select Up To 3 Categories",  data: { source: categories_path }%>
</div>
</div>
<%= f.submit value: "#{button_text}"%>
<% end %>




