<div class="search-tools">
<%= simple_form_for :search, :html => {:"data-update-target" => 'cards-container'}, remote: true, method: "get" do |f| %>
  <div class='filter'>
  <%= f.input :city, required: false,label:false,placeholder: "Search City" %>
  </div>
  <div class='filter'>
      <%= f.input :state,required: false,label:false,placeholder: "Search State" %>
  </div>
  <div class='filter'>
  <%= f.input :zip, label:false,required: false,placeholder: "Search Zip" %>
  </div>
  <div class='filter'>
    <%= f.input_field :categories, required: false, class: 'select2 categories ajax', label:false ,placeholder:"Select Up To 3 Categories",  data: { source: categories_path }%>
  </div>
  <div class='filter'>
  <%= f.input :keywords, required: false, label:false,placeholder: "Search Keywords" %>
  </div>
  <%= f.submit value: "Search #{@skills.first.class.model_name.human + "s"}"%>
<% end %>
</div>
<p class='subtitle'>Can't find what you're looking for?</p>
  <%= button_to "Post a Skill Request", new_skill_request_path, method: :get %>

