<div id='new-skill-form'>
  <fieldset>
    <%= simple_form_for @skill do |f| %>
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end if @errors %>
    <%= f.input :is_active, as: :boolean, label: "Set Skill Active? " %>
    <ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">1.) Basic Skill Information</a>
    <div class="tab-content">
    <p> Give general information about this skill.</p>
    <p>This should help others decide if what you are offering is what they need help with.</p>
      <div class="form-fields">
      <!--<div class="tooltip2-item">-->
        <%= f.input :title, as: :string, placeholder:"Enter a Title", label:false, maxlength: 35, input_html: { data: { tip_id: "skill_title_tip"}, class:'tooltip2-item' }%>
      <!--</div>-->
      <!--<div class="tooltip2-item">-->
        <%= f.input :subtitle,placeholder:"Enter a Subtitle", label:false, maxlength: 45,input_html: { data: { tip_id: "skill_subtitle_tip"}, class:'tooltip2-item' } %>
      <!--</div>-->
      <!--<div class="tooltip2-item">-->
        <%= f.input :skill_level_id, label: "Recommended skill level for this task", as: :select, collection: SkillLevel.all, value_method: :id,input_html: { data: { tip_id: "skill_skill_level_tip"}, class:'tooltip2-item' } %>
      <!--</div>-->
      </div>
        <div class="form-tips">
          <div class="tooltip2" id="skill_title_tip">
            <ul>
              <h6>Examples of a title</h6>
              <li>Learn Ruby</li>
              <li>Learn Fly Fishing Skills</li>
            </ul>
          </div>
          <div class="tooltip2" id="skill_subtitle_tip">
            <ul><h6>Examples of a subtitle</h6>
              <li>Beginner Ruby Development Skills</li>
              <li>Intermediate Fly Fishing techniques</li>
            </ul>
          </div>
          <div class="tooltip2" id="skill_skill_level_id_tip">
            <ul>Skill Levels:
              <% SkillLevel.all.each do |sl| %>
                <li><p class="title"><%= sl.title %></p><%= sl.description %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <!--end tab content-->
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">2.) Full Description</a>
    <div class="tab-content">
            <p> Add a longer description of exactly what you will be teaching. Check out the placeholder text below for an example.</p>
            <%= f.input :full_description, placeholder:"Enter a longer full description.\n500 Characters Max. You can discuss further later. \n\nie: I will show you what type of door you need, the tools needed, and how to install it.This includes going to your residence and measuring the door, helping at the store and picking out the correct size doggy door and door and finally installing it. I will help you purchase the correct tools or you can use mine. The only thing I ask for you to purchase for the tools is the saw blade if needed." ,maxlength:500, label:false%>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">3.) Location And Categories</a>
    <div class="tab-content">
    <p>Specify the location where you would like to meet and complete this skill. This can be changed later per studen if you need it to change.</p>
    <%= f.simple_fields_for :location do |c| %>
      <input id="autocomplete" placeholder="Enter an address where you'd like to teach this skill"
    onFocus="geolocate()" type="text" data-geoType="address"></input>
      <%= c.hidden_field :city, label: "City", placeholder:"Select City", class: 'locality',:readonly => true %>
      <%= c.hidden_field :state, label: "State", placeholder:"Select State", class: 'administrative_area_level_1', :readonly => true %>
      <%= c.hidden_field :zip, placeholder:"Select Zip", class: 'postal_code', :readonly => true%>
    <% end %>
    <%= f.input_field :category_ids, placeholder:"Select up to 3 categories", style:"width:100%", class: 'select2 categories ajax', data: { source: categories_path, initselection: @skill.categories.map{|category| {'id' => category.id, 'text' => category.name} }}%>
    </div>

  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">4.) Set price & submit. </a>
    <div class="tab-content">
    <%= f.input :path_id, label: "Add to already created path (optional)", as: :select, collection: current_user.paths, value_method: :id %>
    <%= f.input :price, label: "Set Price" %>
    <%= f.submit %>
    <%= button_to 'Create a new path', new_path_path, id:'create-new-path-button' %>
    <p> Paths are a collection of skills.</p>
    <p> Create a path with multiple skills to help others achieve a longer term goal. </p>
    <%= render '/paths/new' %>
    </div>
  </li>
</ul>
    <%= link_to "Need help creating a new skill or path?", creating_skills_help_path %>
    <br/>
    <%end%>
  </fieldset>
</div>
