<% if table_headers %>
<table class="table-minimal">
  <thead>
    <tr>
      <% table_headers.each do |header| %>
      <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% table_data.each do |data_row| %>
    <tr id="skill-id-<%= data_row.id %>">
      <% if data_row.is_a?(SkillRequest) %>
        <td><%= data_row.user.username %></td>
        <td><%= link_to data_row.title, skill_request_path(data_row) %></td>
        <td><%= data_row.location.try(:address) %></td>
        <td><%= data_row.created_at %></td>
        <td><%= simple_form_for(data_row, :html => {:multipart => true, :class=> '.form-inline'} ) do |f| %>
          <%= f.input :meeting_date_requested, :as => :datetime_picker, label:false,class: 'dash-date-change' %>
          <%= f.button :submit, value:"Save Date" %>
          <% end %></td>
        <td>
          <%= button_to check_accepted_status_skill_request_path(data_row.id, skill_request:{accepted_status:'confirmed'}), :method => :post, :remote => true,data: { disable_with: 'loading...'},class: 'confirm update-status', id:"skill-id-#{data_row.id}-button" do %>
            Confirm
          <% end %>
      <%else %>
      <td>        <% if data_row.class == Apprenticeship %>
          <%= link_to apprenticeship_path(data_row) do %>
            <i class="fa fa-gear"></i>
          <% end %>
        <% end %><%= data_row.user == current_user ? data_row.skill.creator.username : data_row.user.username %></td>
      <td><%= link_to data_row.skill.title, apprenticeship_path(data_row) %></td>
      <td><%= data_row.location.try(:address) %></td>
      <td><%= data_row.meeting_date_scheduled || "Pending Acceptance"%></td>
<!--       <td><%= simple_form_for(data_row, :html => {:multipart => true, :class=> '.form-inline'} ) do |f| %>
      <%= f.input :meeting_date_requested, :as => :datetime_picker, label:false, class: 'dash-date-change' %>
      <%= f.button :submit, value:"Save Date" %>
      <% end %></td> -->
      <td><%= data_row.meeting_date_requested %></td>
      <% case data_row.accepted_status %>
      <% when 'pending' %>
        <% if current_user.id == data_row.skill.creator_id %>
          <td>
            <%= button_to apprenticeship_path(data_row.id, apprenticeship:{accepted_status:'confirmed'}), :method => :put, :remote => true,data: { disable_with: 'loading...'},class: 'confirm update-status' do %>
            Confirm
          <% end %>
            <!-- <button class='confirm update-status' data-model=<%= data_row.class%> data-id=<%=data_row.id%> data-change-to='confirmed'>Confirm</button> -->
            <!-- <button class='reject update-status' data-model=<%= data_row.class%> data-id=<%=data_row.id%> data-change-to='rejected' >Reject</button> -->
          </td>
        <% else %>
            <td class='pending'>&#8660</td>
        <% end %>
      <% when 'confirmed' %>
      <td class='confirmed'>&#10004</td>
      <% when 'denied' %>
      <td class='denied'>&#x2717</td>
      <% end %>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
