<% if table_headers %>
<table class="table-minimal">
  <thead>
    <tr>
      <% table_headers.each do |header| %>
      <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% table_data.each do |data_row| %>
    <tr>
      <% if data_row.is_a?(SkillRequest) %>
        <td><%= data_row.user.username %></td>
        <td><%= data_row.title %></td>
        <td><%= data_row.location.try(:address) %></td>
        <td><%= data_row.created_at %></td>
        <td>
          <%= button_to skill_request_path(data_row.id, skill_request:{accepted_status:'confirmed'}), :method => :put, :remote => true,data: { disable_with: 'loading...'},class: 'confirm update-status' do %>
            Confirm
          <% end %>
          <!-- Add Button to remove this from displaying in this users dashboard if rejected. -->
 <!--          <button class='confirm update-status' data-model=<%= data_row.class%> data-id=<%=data_row.id%> data-changed-to='confirmed'>Confirm</button> -->
          <!-- <button class='reject update-status' data-model=<%= data_row.class%> data-id=<%=data_row.id%> data-change-to='rejected'>Reject</button> -->
      <%else %>
      <td><%= data_row.user.username %></td>
      <td><%= data_row.skill.title %></td>
      <td><%= data_row.location.try(:address) %></td>
      <td><%= data_row.date_scheduled %></td>
      <% case data_row.accepted_status %>
      <% when 'pending' %>
        <% if current_user.id == data_row.skill.creator_id %>
          <td>
            <%= button_to apprenticeship_path(data_row.id, apprenticeship:{accepted_status:'confirmed'}), :method => :put, :remote => true,data: { disable_with: 'loading...'},class: 'confirm update-status' do %>
            Confirm
          <% end %>
            <button class='confirm update-status' data-model=<%= data_row.class%> data-id=<%=data_row.id%> data-change-to='confirmed'>Confirm</button>
            <button class='reject update-status' data-model=<%= data_row.class%> data-id=<%=data_row.id%> data-change-to='rejected' >Reject</button>
          </td>
        <% else %>
            <td class='pending'>&#8660</td>
        <% end %>
      <% when 'confirmed' %>
      <td class='confirmed'>&#10004</td>
      <% when 'denied' %>
      <td class='denied'>&#x2717</td>
      <% end %>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
